.main {
  max-width: 1100px;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    border: none;
    box-shadow: var(--box-shadow);
    background-color: white;
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: .25s ease-in-out;
  }

  .button:hover {
    box-shadow: var(--box-shadow-hover);
    cursor: pointer;
    transition: .25s ease-in-out;
  }

  .button:active {
    box-shadow: var(--box-shadow-press);
  }
}